<mat-toolbar color="primary">
  <span>SIMS Project</span>
  <span class="spacer"></span>
  <a mat-button routerLink="/">Home</a>
  <a mat-button routerLink="/login">Login</a>
  <a mat-button routerLink="/register">Register</a>

  <!-- Conditionally show Dashboard and Tickets links based on authentication -->
  <a *ngIf="isAuthenticated" mat-button routerLink="/dashboard">Dashboard</a>
  <a *ngIf="isAuthenticated" mat-button routerLink="/tickets">Tickets</a>
  <a *ngIf="isAuthenticated" mat-button routerLink="/logs">Logs</a>

  <!-- <span class="spacer"></span> Adds space between the links and the buttons -->

  <!-- Button container with spaced buttons -->
  <div class="button-container">
    <button *ngIf="isAuthenticated && showCreateTicketButton" mat-raised-button color="accent" (click)="openCreateTicketForm()">Create Ticket</button>
    <button *ngIf="isAuthenticated" mat-button (click)="logout()">Logout</button>
    <button *ngIf="isAuthenticated" mat-button (click)="refreshToken()">Refresh Token</button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
