.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* Full viewport height */
    background-color: rgba(0, 0, 0, 0.5);  /* Semi-transparent background */
  }
  
  .create-ticket-card {
    width: 400px;
    padding: 20px;
  }
  