.homepage-container {
    text-align: center;
    padding: 20px;
  }
  
  .meme-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .meme-image {
    max-width: 100%; /* Ensures the image will not exceed its container width */
    height: auto;    /* Maintains aspect ratio */
    object-fit: contain; /* Ensures the image fits within its container */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .meme-container img {
    width: 300px; /* You can adjust this width as needed */
    height: auto;
    transition: transform 0.2s ease-in-out;
  }
  
  .meme-container img:hover {
    transform: scale(1.05); /* Slight zoom-in effect on hover */
  }
  
  /* Lightbox Styles */
  .lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .lightbox-image {
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
  }
  
  .lightbox:hover {
    cursor: pointer;
  }
  
  /* Footer Styles */
  .footer {
    margin-top: 50px;
    padding: 10px;
    background-color: #f5f5f5;
    text-align: center;
  }
  
  .footer a {
    text-decoration: none;
    color: #2196f3; /* Material blue color */
    font-weight: bold;
  }
  
  .footer a:hover {
    color: #1769aa; /* Darker blue on hover */
  }
  
  /* GitHub Logo Styles */
  .github-logo {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    vertical-align: middle; /* Aligns the logo with the text */
  }
  