.admin-dashboard-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
  }
  
  table {
    width: 100%;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .mat-elevation-z8 {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  