<form [formGroup]="ticketForm" (ngSubmit)="onSubmit()" class="edit-ticket-form">
    <mat-card>
      <!-- No need for <mat-card-content> -->
      <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" placeholder="Enter Title" required />
        </mat-form-field>
      </div>
  
      <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description" placeholder="Enter Description" required></textarea>
        </mat-form-field>
      </div>
  
      <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>State</mat-label>
          <mat-select formControlName="state" required>
            <mat-option *ngFor="let state of stateEnum" [value]="state.value">{{ state.label }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>Severity</mat-label>
          <input matInput type="number" formControlName="severity" placeholder="Enter Severity (1-10)" required />
        </mat-form-field>
      </div>
  
      <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>CVE</mat-label>
          <input matInput formControlName="cve" placeholder="Enter CVE" />
        </mat-form-field>
      </div>
  
      <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>Assigned Person ID</mat-label>
          <input matInput formControlName="assignedPersonID" placeholder="Enter Assigned Person ID" />
        </mat-form-field>
      </div>

      <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>Assigned Person ID</mat-label>
          <input matInput formControlName="referenceID" placeholder="Enter referenceID" />
        </mat-form-field>
      </div>
  
      <div class="form-field button-field">
        <button mat-raised-button color="primary" type="submit" [disabled]="ticketForm.invalid">Update Ticket</button>
      </div>
    </mat-card>
  </form>
  